$breakpoint:(
  m:'screen and(max-width:767px)',
);

@mixin mq ($bp) {
  @media #{map-get($breakpoint,$bp)}{
    @content;
  }
}

/*--------------------------------
 共通項目
---------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
section {
  padding: 40px 40px;
  background-color: #dbedf0;
  .section__title {
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 58px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: .05em;
    color:#80a491;
    text-shadow:2px 2px 0 #1760a0, -2px -2px 0 #1760a0,
    -2px 2px 0 #1760a0, 2px -2px 0 #1760a0,
    0px 2px 0 #1760a0,  0- 2px 0 #1760a0,
    -2px 0 0 #1760a0, 2px 0 0 #1760a0
  }

  .section__text {
    text-align: center;
  }  

  .icon {
    margin-right: 15px;
    font-size: 1.2em;

  }

}

/*--------------------------------
ヘッダー
---------------------------------*/
header {
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
    /*--------------------------------
    グローバルナビ
    ---------------------------------*/
    .gnav {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
      -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
      box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
      background-color: #80a491;
      padding: 0 !important;
   
      
      .navbar-toggler {
        margin-left: 25px;
        border:solid 3px !important;
      }
      
      &-item {
        font-family: "Open sans", sans-serif;
        font-size: 18px;
        padding: 0 24px;
        letter-spacing: .05em;
        text-align: center;
        background-color: #80a491;
        width: 100%;
      }
      
      &-wrapper {
        width: 100%;
      }
      
      &-list {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
      &-link {
        position: relative;
        display: inline-block;
        padding: 20px 0;
        -webkit-transition: .3s;
        transition: .3s;
        color: #dbedf0 !important;
      }
      
      &-link:hover {
        opacity: 1;
      color:#dbedf0 !important;
    }

    &-link:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      content: "";
      transition: .3s;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color:#dbedf0;
    }

    &-link:hover:after {
      width: 100%;
    }
}


/*--------------------------------
Top-section
---------------------------------*/
.s-top {
  // background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),url(../img/top-img.png);
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
  background-position:center center ;
  background-size: cover;
  height: 100vh;

  &__container {
    width: 70%;
    padding: 20px 0;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // background:linear-gradient(to bottom, rgba(219, 238, 240, 0.5) 0%, rgba(219, 238, 240, 0.5) 100%);
    color: #dbedf0;
    h1 {
      font-size: 60px;
      font-weight: 800;
      letter-spacing: 0.2em;
      text-shadow:2px 2px 0 #1760a0, -2px -2px 0 #1760a0,
      -2px 2px 0 #1760a0, 2px -2px 0 #1760a0,
      0px 2px 0 #1760a0,  0- 2px 0 #1760a0,
      -2px 0 0 #1760a0, 2px 0 0 #1760a0
    }
    h2 {
      font-size: 60px;
      font-weight: 800;
      letter-spacing: 0.3em;
      text-shadow:2px 2px 0 #1760a0, -2px -2px 0 #1760a0,
      -2px 2px 0 #1760a0, 2px -2px 0 #1760a0,
      0px 2px 0 #1760a0,  0- 2px 0 #1760a0,
      -2px 0 0 #1760a0, 2px 0 0 #1760a0
    }

    @include mq("m"){
      margin-top: 15vh;
    }
  }

  .next-section {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 80px;
  text-align: center;
  text-decoration: none;

    &:hover {
      opacity: 1;
    }

  }


}

  /*--------------------------------
  About
---------------------------------*/
.s-about {
  margin: 0 auto;
  
  &__image {
    display: block;
    margin:0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  &__table {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    @include mq("m"){
      width: 100%;
    }
  }

  .sns__container {
    padding-top: 5%;
    position: relative;
    .sns__item {
      position: relative;
      right:30%;
      vertical-align: middle;
      cursor: pointer;
      list-style: none;
      & a {
        text-decoration: none;
        font-size: 30px;
        color:inherit;
        &:hover {
          color:#80a491;
        }
        & i {
          margin-right: 20px;
        }
      }

      @include mq("m"){
        right:0;
        text-align: center;
      }
    }
}
} 
  /*--------------------------------
 Skill
---------------------------------*/
.s-skill {
  h3 {
    font-size: 22px;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
  }
  dl {
    width: 80%;
    margin: 0 auto;
  }
 
  dt {
    color:#1760a0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 800;
  }

  
  dd {
    width: 100%;
    color:#333;
    font-size: 20px;
    line-height: 2.2;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    span {
      color:#1760a0;
      font-weight: bold;
    }
  }

}
/*--------------------------------
Works
---------------------------------*/
.s-works {
  
  &__container {
    & ul {
      padding-left: 25px;
    }
  }
  &__img {
    width: 80%;
    height: auto;
    margin:0 auto;
  }
  
  &__item {
    margin-top: 80px;
    margin-bottom: 100px;
    & h3 {
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      color:#1760a0;
      background: linear-gradient(to bottom, rgba(128, 164, 145, 0.2) 0%, rgba(128, 164, 145, 0.2) 100%);
      padding:20px;
      width: 40vw;
    }
  }
  
  &__content {
        margin-top: 30px;
        margin-bottom:40px;
        & h4 {
          color:#1760a0;
          font-weight: 600;
          margin-left: 10px;
          margin-bottom: 20px;
        }
        & li {
          font-size: 20px;
          line-height: 2.2;
          letter-spacing: 0.1em;
        }
        & a {
          color:#333;
          font-size: 20px;
          font-weight: 600;
          &:hover {
            color:#80a491;
          }
        }
      

  }
}

/*--------------------------------
 Contact
---------------------------------*/
.s-contact {

  &__list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin:3vh 0;
  }
  
  &__item {
    width: 50px;
    margin: 0 20px;
    text-align: center;
  }
  
  &__text {
    color:#333;
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .contact-form {
    margin-top: 40px;
  }

  .form-group input {
    width: 100%;
  }

  .form-group textarea {
    width: 100%;
    height: 350px;
  }

  .form-group button {
    display: block;
    text-align: center;
    width: 50%;
    color: #FFF;
    background: #1ca9e3;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      background: #1760a0;
    }
  }

  .col-form-label {
    color: #1760a0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  &__mail {
    text-align: center;
    & a {
      font-size: 20px;
      color:#333;
      &:hover {
        color:#80a491;
      }
    }
  }
}
  
  /*--------------------------------
 フッター
---------------------------------*/
.s-contact__list {
  list-style: none;
}

footer {
  background-color: #333;

  .copyright {
    font-size: 10px;
    text-align: center;
    color: #8c8c8c;
  }
}
  /*--------------------------------
 トップへ戻るボタン
---------------------------------*/

#js-page-top {
  position: fixed;
  bottom: 40px;
  right: 40px;

  display: none;
  width: 80px;
  height: 80px;

  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
#js-page-top:hover {
  opacity: 1;
}
  
  /*--------------------------------
 お問い合わせ確認ページ
---------------------------------*/
.p-confirm {
  background-color: #dbedf0;
  height: 100vh;
  &__container {
    width: 60%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    & p {
      text-align: center;
      margin-bottom: 5vh;
      color:#333;
      font-size: 20px;
      letter-spacing: 0.1em;
    }

    & h2 {
      text-align: center;
      font-family: "Open sans", sans-serif;
      font-size: 44px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 15px;
      letter-spacing: .05em;
      color:#80a491;
      margin-bottom: 5vh;
    }
  & table {
    min-height: 30vh;
    & th {
      font-size: 26px;
      color:#1760a0;
      font-weight: 600;
    }
    & td {
      font-size: 20px;
      color: #333;
    }
  }

  .button {
    display: flex;
  }

  .btn__back{
    display: block;
    margin: 30px auto;
    width: 40%;
    color: #FFF;
    background: #00BB00;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      background: green;
      color:#FFF;
    }
  }

  .btn__submit {
    display: block;
    margin: 30px auto;
    width: 40%;
    color: #FFF;
    background: #1ca9e3;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      background: #1760a0;
      color:#FFF;
    }
  }
  
  }
}

.error {
  color:red;
  font-weight: 600;
}

  /*--------------------------------
 thanksページ
---------------------------------*/
.p-thanks {
  background-color: #dbedf0;
  height: 100vh;

  &__container {
    width: 60%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    & p {
      text-align: center;
      margin-bottom: 5vh;
      color:#333;
      font-size: 20px;
      letter-spacing: 0.1em;
    }
    & h2 {
      text-align: center;
      font-family: "Open sans", sans-serif;
      font-size: 44px;
      font-weight: normal;
      line-height: 1;
      margin-bottom: 15px;
      letter-spacing: .05em;
      color:#80a491;
      margin-bottom: 5vh;
    }

    .btn__back {
      display: block;
      margin: 30px auto;
      width: 40%;
      color: #FFF;
      background: #00BB00;
      font-size: 20px;
      font-weight: 600;
      &:hover {
        background: green;
        color:#FFF;
      }
    }
  }
}