@charset "UTF-8";
/*--------------------------------
 共通項目
---------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

section {
  padding: 40px 40px;
  background-color: #dbedf0;
}

section .section__title {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 58px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  color: #80a491;
  text-shadow: 2px 2px 0 #1760a0, -2px -2px 0 #1760a0, -2px 2px 0 #1760a0, 2px -2px 0 #1760a0, 0px 2px 0 #1760a0, -2px 0 #1760a0, -2px 0 0 #1760a0, 2px 0 0 #1760a0;
}

section .section__text {
  text-align: center;
}

section .icon {
  margin-right: 15px;
  font-size: 1.2em;
}

/*--------------------------------
ヘッダー
---------------------------------*/
header {
  z-index: 99;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
}

/*--------------------------------
    グローバルナビ
    ---------------------------------*/
.gnav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  background-color: #80a491;
  padding: 0 !important;
}

.gnav .navbar-toggler {
  margin-left: 25px;
  border: solid 3px !important;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  padding: 0 24px;
  letter-spacing: .05em;
  text-align: center;
  background-color: #80a491;
  width: 100%;
}

.gnav-wrapper {
  width: 100%;
}

.gnav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #dbedf0 !important;
}

.gnav-link:hover {
  opacity: 1;
  color: #dbedf0 !important;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #dbedf0;
}

.gnav-link:hover:after {
  width: 100%;
}

/*--------------------------------
Top-section
---------------------------------*/
.s-top {
  background-image: url(../img/top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.s-top__container {
  width: 70%;
  padding: 20px 0;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #dbedf0;
}

.s-top__container h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 0 #1760a0, -2px -2px 0 #1760a0, -2px 2px 0 #1760a0, 2px -2px 0 #1760a0, 0px 2px 0 #1760a0, -2px 0 #1760a0, -2px 0 0 #1760a0, 2px 0 0 #1760a0;
}

.s-top__container h2 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0.3em;
  text-shadow: 2px 2px 0 #1760a0, -2px -2px 0 #1760a0, -2px 2px 0 #1760a0, 2px -2px 0 #1760a0, 0px 2px 0 #1760a0, -2px 0 #1760a0, -2px 0 0 #1760a0, 2px 0 0 #1760a0;
}

@media screen and (max-width: 767px) {
  .s-top__container {
    margin-top: 15vh;
  }
}

.s-top .next-section {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
}

.s-top .next-section:hover {
  opacity: 1;
}

/*--------------------------------
  About
---------------------------------*/
.s-about {
  margin: 0 auto;
}

.s-about__image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.s-about__table {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media screen and (max-width: 767px) {
  .s-about__table {
    width: 100%;
  }
}

.s-about .sns__container {
  padding-top: 5%;
  position: relative;
}

.s-about .sns__container .sns__item {
  position: relative;
  right: 30%;
  vertical-align: middle;
  cursor: pointer;
  list-style: none;
}

.s-about .sns__container .sns__item a {
  text-decoration: none;
  font-size: 30px;
  color: inherit;
}

.s-about .sns__container .sns__item a:hover {
  color: #80a491;
}

.s-about .sns__container .sns__item a i {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .s-about .sns__container .sns__item {
    right: 0;
    text-align: center;
  }
}

/*--------------------------------
 Skill
---------------------------------*/
.s-skill h3 {
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.s-skill dl {
  width: 80%;
  margin: 0 auto;
}

.s-skill dt {
  color: #1760a0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
}

.s-skill dd {
  width: 100%;
  color: #333;
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.s-skill dd span {
  color: #1760a0;
  font-weight: bold;
}

/*--------------------------------
Works
---------------------------------*/
.s-works__container ul {
  padding-left: 25px;
}

.s-works__img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.s-works__item {
  margin-top: 80px;
  margin-bottom: 100px;
}

.s-works__item h3 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #1760a0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 164, 145, 0.2)), to(rgba(128, 164, 145, 0.2)));
  background: linear-gradient(to bottom, rgba(128, 164, 145, 0.2) 0%, rgba(128, 164, 145, 0.2) 100%);
  padding: 20px;
  width: 40vw;
}

.s-works__content {
  margin-top: 30px;
  margin-bottom: 40px;
}

.s-works__content h4 {
  color: #1760a0;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 20px;
}

.s-works__content li {
  font-size: 20px;
  line-height: 2.2;
  letter-spacing: 0.1em;
}

.s-works__content a {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.s-works__content a:hover {
  color: #80a491;
}

/*--------------------------------
 Contact
---------------------------------*/
.s-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vh 0;
}

.s-contact__item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.s-contact__text {
  color: #333;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.s-contact .contact-form {
  margin-top: 40px;
}

.s-contact .form-group input {
  width: 100%;
}

.s-contact .form-group textarea {
  width: 100%;
  height: 350px;
}

.s-contact .form-group button {
  display: block;
  text-align: center;
  width: 50%;
  color: #FFF;
  background: #1ca9e3;
  font-size: 20px;
  font-weight: 600;
}

.s-contact .form-group button:hover {
  background: #1760a0;
}

.s-contact .col-form-label {
  color: #1760a0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.s-contact__mail {
  text-align: center;
}

.s-contact__mail a {
  font-size: 20px;
  color: #333;
}

.s-contact__mail a:hover {
  color: #80a491;
}

/*--------------------------------
 フッター
---------------------------------*/
.s-contact__list {
  list-style: none;
}

footer {
  background-color: #333;
}

footer .copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

/*--------------------------------
 トップへ戻るボタン
---------------------------------*/
#js-page-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
#js-page-top:hover {
  opacity: 1;
}

/*--------------------------------
 お問い合わせ確認ページ
---------------------------------*/
.p-confirm {
  background-color: #dbedf0;
  height: 100vh;
}

.p-confirm__container {
  width: 60%;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.p-confirm__container p {
  text-align: center;
  margin-bottom: 5vh;
  color: #333;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.p-confirm__container h2 {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  color: #80a491;
  margin-bottom: 5vh;
}

.p-confirm__container table {
  min-height: 30vh;
}

.p-confirm__container table th {
  font-size: 26px;
  color: #1760a0;
  font-weight: 600;
}

.p-confirm__container table td {
  font-size: 20px;
  color: #333;
}

.p-confirm__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-confirm__container .btn__back {
  display: block;
  margin: 30px auto;
  width: 40%;
  color: #FFF;
  background: #00BB00;
  font-size: 20px;
  font-weight: 600;
}

.p-confirm__container .btn__back:hover {
  background: green;
  color: #FFF;
}

.p-confirm__container .btn__submit {
  display: block;
  margin: 30px auto;
  width: 40%;
  color: #FFF;
  background: #1ca9e3;
  font-size: 20px;
  font-weight: 600;
}

.p-confirm__container .btn__submit:hover {
  background: #1760a0;
  color: #FFF;
}

.error {
  color: red;
  font-weight: 600;
}

/*--------------------------------
 thanksページ
---------------------------------*/
.p-thanks {
  background-color: #dbedf0;
  height: 100vh;
}

.p-thanks__container {
  width: 60%;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.p-thanks__container p {
  text-align: center;
  margin-bottom: 5vh;
  color: #333;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.p-thanks__container h2 {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 44px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  color: #80a491;
  margin-bottom: 5vh;
}

.p-thanks__container .btn__back {
  display: block;
  margin: 30px auto;
  width: 40%;
  color: #FFF;
  background: #00BB00;
  font-size: 20px;
  font-weight: 600;
}

.p-thanks__container .btn__back:hover {
  background: green;
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */